

// ag: styling for the individual blog pages
body.wp-singular.post-template-default.single.single-post{
    .img-fluid{
        height: 15rem;
        object-fit: contain;
    }

    article{
        h2{
            font-size: 1.75rem;
            a{
                color: $secondary;
            }
        }
    }

    @media(max-width: 768px){

        div#navbarNavDropdown > ul{
            li{
                a{
                    text-shadow: none;
                }
            }
        }
    }
    
}