// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$accent: #FF6B6B; // Thats a sample how you could change a BootStrap variable.
$primary: #00CCFF;
$secondary: #0a2540;
// $primary: $puertoRicoBlue;  // Once we've changed the value, we'll also make it the primary brand color.


$theme-colors: (
  "primary": #00CCFF,
  "secondary": #0A2540,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #212529
);
